@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --scheme-1: 23 23 23;
  --scheme-2: 41 37 36;
  --scheme-3: 64 64 64;
  --scheme-4: 82 82 82;
  --scheme-5: 115 115 115;
  --primary-1: 154 52 18;
  --primary-2: 194 65 12;
  --primary-3: 234 88 12;
  --primary-4: 249 115 22;
  --primary-5: 251 146 60;
  --onprimary-1: 255 255 255;
  --onprimary-2: 255 255 255;
  --onprimary-3: 255 255 255;
  --onprimary-4: 255 255 255;
  --onprimary-5: 0 0 0;
  --onscheme-1: 255 255 255;
  --onscheme-2: 255 255 255;
  --onscheme-3: 255 255 255;
  --onscheme-4: 255 255 255;
  --onscheme-5: 255 255 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
#center-info {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-family: sans-serif;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  display: inline-block;
  padding: 1rem;
  margin-top: 6rem;
}
#center-info a:visited, #center-info a {
  color: white;
}

.x-warp-datetime .react-datetime-picker__wrapper {
  border: none;
}

.x-warp-datetime .react-calendar {
  @apply bg-scheme-3 text-onscheme-3;
  font-family: inherit;
}
.x-warp-datetime .react-calendar .react-calendar__tile--now {
  @apply bg-transparent border-primary-3 border-2 text-primary-3;
}
.x-warp-datetime .react-calendar .react-calendar__month-view__days__day--weekend {
  @apply text-onscheme-3/70;
}
.x-warp-datetime .react-calendar .react-calendar__month-view__days__day--neighboringMonth {
  @apply text-onscheme-3/50;
}
.x-warp-datetime .react-calendar :is(.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus, .react-calendar__tile:not(.react-calendar__tile--active):enabled:hover, .react-calendar__tile:not(.react-calendar__tile--active):enabled:focus) {
  @apply bg-scheme-4;
}
.x-warp-datetime .react-calendar :is(.react-calendar__navigation button:enabled:active, .react-calendar__tile:not(.react-calendar__tile--now):not(.react-calendar__tile--active):enabled:active) {
  @apply bg-scheme-5;
}
.x-warp-datetime .react-calendar :is(.react-calendar__tile:disabled, .react-calendar__navigation button:disabled) {
  @apply bg-scheme-3 text-onscheme-3/30 cursor-not-allowed;
}
.x-warp-datetime .react-calendar :is(.react-calendar__tile--active) {
  @apply bg-primary-3 text-onprimary-3;
}
.x-warp-datetime .react-calendar :is(.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus) {
  @apply bg-primary-4 text-onprimary-4;
}
.x-warp-datetime .react-calendar :is(.react-calendar__tile--active:enabled:active) {
  @apply bg-primary-5 text-onprimary-5;
}